<div class="container">
  <footer class="footer">
    <small>
      Copyright © <a href="enter in a link here">Algorithms and Data Structures</a> by <a href="enter in a link here">Surinder Gill</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>